.search-input-section {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  max-width: 900px;
  width: 100%;
}

.search-input-section input {
  height: 25px;
  width: 200px;
}

@media screen and (max-width: 917px) {
  .search-input-section {
    max-width: 600px;
  }
}

@media screen and (max-width: 618px) {
  .search-input-section {
    max-width: 295px;
  }
}